@charset "utf-8";
/*region 常用变量配置*/
/*endregion*/
/*region 模块配置*/
/*endregion*/
html,
body {
  width: 100%;
  font-size: 15px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
time,
mark,
audio,
video,
input,
textarea,
tr,
th,
td,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 15px;
  /*line-height: 1em;*/
  font-family: "微软雅黑";
  color: #000;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #ffffff;
  overflow-x: hidden;
}
i,
em {
  font-style: normal;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: normal;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
input {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
}
input,
textarea {
  line-height: 1.2em;
  outline: none;
  -webkit-appearance: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  -ms-word-break: break-all;
  word-break: break-all;
  text-align: justify;
}
input::-webkit-input-placeholder {
  line-height: 1.2em;
}
.wrap {
  width: 100%;
  min-width: 1200px;
}
/*region 常用布局*/
.clear-float:after {
  content: '';
  display: block;
  clear: both;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.flex-box {
  display: -moz-box !important;
  display: -webkit-box !important;
  display: box!important;
}
.box-flex1 {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.center-cotar {
  display: block;
  margin: 0 auto;
  width: 1200px;
}
/*endregion*/
/*#region top.jsp*/
.m-header {
  display: block;
}
.m-header .welcome-box {
  padding: 0 24px;
  background: #3277df;
}
.m-header .welcome-box .w-left {
  line-height: 24px;
}
.m-header .welcome-box .w-left .name {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.m-header .welcome-box .w-left .text {
  margin-left: 10px;
  font-size: 12px;
  color: #fff;
}
.m-header .welcome-box .w-right .icon-item {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.m-header .welcome-box .w-right .icon-item img {
  display: inline-block;
}
.m-header .nav-wrap {
  padding: 0 24px;
  background: #4c8dee;
}
.m-header .nav-wrap .logo-box {
  display: block;
  margin: 15px 0;
}
.m-header .nav-wrap .logo-box img {
  display: block;
}
.m-header .nav-wrap .nav-box {
  font-size: 0;
}
.m-header .nav-wrap .nav-box .nav-item {
  display: inline-block;
  vertical-align: middle;
}
.m-header .nav-wrap .nav-box .nav-item.active {
  background: #3277df;
}
.m-header .nav-wrap .nav-box .nav-item:hover {
  background: #3277df;
}
.m-header .nav-wrap .nav-box .nav-item a {
  display: inline-block;
  width: 90px;
  line-height: 66px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
/*#endregion*/
