body,html {
    padding: 0;
    margin: 0;
}
input,button{ margin:0; padding:0; list-style-type:none; border: none}

input[type="text"] {
    width: 80px;
    border: none;
}
input[type="text"]:focus {
    border: none;
    outline:none;
}

/*按钮*/
.btn-wrap {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}
.btn-wrap .btn {
    display: inline-block;
    vertical-align: middle;
    padding: 0 6px;
    margin: 0 40px;
    height: 36px;
    line-height: 36px;
    min-width: 80px;
    font-size: 15px;
    font-weight: bold;
    background: #eee;
    border-radius: 3px;
    box-shadow: 1px 2px 8px rgba(88, 88, 88, 0.98);
    cursor: pointer;
    z-index: 10;
}
.btn-wrap .btn:hover {
    color: #fff;
    background: #42d8d8;
}

/*布局表*/
table {
    border-collapse:collapse;
    background: #fff;
}

#table_changed_tableData tr:nth-child(2n+1) {
    background: #F9F7EF;
}

#table_changed_tableHeadClone,#table_changed_tableFixClone,#table_changed_tableColumnClone {
    background: #E6F0F5;
}

td {
    box-sizing: border-box;
    position: relative;
    height: 20px;
    line-height: 20px;
    border: solid 1px #888;
}

td.title {
    background: #eee;
    border-color: #ddd;
    text-align: center;
    background-clip: padding-box
}
td.head {
    background: #eee;
    border-color: #ddd;
    text-align: center;
    background-clip: padding-box
}
td.head .cell-box {
    min-width: 30px;
}
td.horn {
    background: #eee;
    border-color: #ddd;
    text-align: center;
    background-clip: padding-box
}
td.horn .cell-box {
    min-width: 30px;
}
td.two {
    background: url("icon/bg_two.png") no-repeat;
    background-size: 100% 100%;
    background-clip: padding-box
}
td.three {
    background: url("icon/bg_three.png") no-repeat;
    background-size: 100% 100%;
    background-clip: padding-box
}

.td-box {
    display: block;
    min-width: 90px;
    line-height: 24px;
}
/*展示表*/
.cell-box {
    box-sizing: border-box;
    display: inline-block;
    min-width: 90px;
    width: 100%;
    padding:  0 3px;
    line-height: 24px;
    min-height: 24px;
    vertical-align: middle;
    font-size: 13px;
    z-index: 2;
}
.cell-box.active:after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: solid 2px #f00;
}
td.edit .cell-box:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 22px;
    height: 22px;
    background: url("icon/icon_edit1.png") no-repeat center;
}
.cell-box input[type="text"] {
    position: relative;
    z-index: 4;
    background: none;
}

.loading-box {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    z-index: 10;
}
.loading-box .img-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    background: #FFF;
}
.loading-box .img-wrap img{
    display: block;
    width: 100%;
}
